@mixin mobile {
  @media (max-width: #{550px}) {
    @content;
  }
}

@mixin smallerTabs {
  @media (max-width: #{900px}) {
    @content;
  }
}

%shared {
  padding: 0 10px;
  border: none;
  color: white;
  font-size: 0.9em;
  background: #008737;
  font-weight: bold;
  text-align: left;
  outline: none;
  min-height: 40px;
  cursor: pointer;
  font-weight: 300;
  display: flex;
  align-content: center;
}

.dropDown {
  width: 100%;
  display: flex;
  flex-direction: column;
  // height: auto;
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
  z-index: 10;
  position: absolute;
  transition: box-shadow 0.3s ease-in;
  // min-height: 40px;

  .currentValue {
    @extend %shared;
    position: relative;
    border-bottom: 1px solid rgba($color: #2a2b2d, $alpha: 0.1);

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      background: white;
      right: 10px;
      top: 15px;
    }
  }
  @include smallerTabs() {
    .close {
      p {
        display: none;
      }

      &::after {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .dropDownButtons {
    flex-direction: column;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    overflow: auto;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;
    display: none;

    .options {
      @extend %shared;
      background: white;
      color: rgba(42, 43, 45, 0.8);
      border-bottom: 1px solid #008737;

      &:hover {
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }

  .open {
    display: flex;
    animation: show 0.3s ease-in-out forwards;
  }
}

.open {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

@keyframes show {
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

@include smallerTabs() {
  .close-drop {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}
